name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: |
        cargo fmt --all -- --check
        cargo clippy --all-features --all-targets --workspace -- -D warnings
        cargo test --all-features --workspace
    - name: No Features
      run: |
        cargo clippy --no-default-features --all-targets -- -D warnings
        cargo test --no-default-features
